@import "../../scss/utils.scss";

.notification-container {
  display: flex;
  align-items: center;
  padding: 12px 6px;
  cursor: pointer;
  border-bottom: solid 1px $light-color;
  .text {
    font-family: $secondary-font;
    margin: 0;
    span {
      font-weight: bold;
      text-decoration: underline;
    }
  }

  .time {
    margin: 0 0 0 auto;
    font-size: small;
  }
  .fa-bell {
    margin-right: 8px;
  }
}
