@import "../../scss/utils.scss";

.app-container {
  display: grid;
  grid-template-columns: 1.3fr 2fr 2fr;
  grid-gap: 1;
}

.section {
  height: 100vh;
  border: solid 1px #efefef;
  border-top: none;
}
.section:nth-child(1) {
}

.section:nth-child(2) {
}

.section:nth-child(3) {
}
