@import "../../scss/utils.scss";

.modal-background {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  @include flex-center;
}

.model {
  position: fixed;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  top: 10%;
  width: 30%;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  transition: 0.2s;
  display: flex;
  flex-direction: column;
  .model-header {
    border-bottom: solid 1px rgba($color: $light-color, $alpha: 0.4);
    .model-btn-close {
      border: none;
      outline: none;
      background-color: white;
      padding: 2px 12px;
      font-size: large;
      transition: 0.1s;
      margin: 4px;
      &:hover {
        color: $primary-color;
        background-color: rgba($color: $primary-color, $alpha: 0.1);
      }
    }
  }

  .model-body {
    display: flex;
    flex-direction: column;
    .profile-pic {
      @include circle(60px);
      background-position: center;
      background-size: cover;
      margin-right: 4px;
      margin-top: 10px;
    }
    .modal-input-container {
      width: 100%;

      .modal-input {
        width: 100%;
        background-color: white;
        border: none;
        font-size: medium;
        font-family: "Open Sans";
        margin-top: 10px;
        resize: none;
      }
    }
  }

  .model-footer {
    border-top: solid 1px rgba($color: $light-color, $alpha: 0.4);

    .options {
      display: flex;
      flex-direction: row;
      padding-top: 12px;
      .group-icons {
        display: flex;
        .btn-icon {
          background: none;
          border: none;
          outline: none;
          padding: 4px;
          margin: 4px 4px;

          i {
            font-size: 22px;
            color: $primary-color;
          }
        }
      }
      .tweet-btn {
        color: white;
        background-color: $primary-color;
        padding: 2px 24px;
        border: none;
        outline: none;
        border-radius: 50px;
        font-weight: bold;
        margin-left: auto;
        font-family: $primary-font;
        transition: 0.1s;
        &:hover {
          color: $primary-color;
          background-color: rgba($color: $primary-color, $alpha: 0.1);
        }
      }
    }
  }
}
