@import "./utils.scss";

.app-container {
  display: grid;
  grid-template-columns: 1.3fr 2fr 2fr;
  grid-gap: 1;
  // repeat(auto-fill, minmax(200px, 1fr))
}

.section {
  height: 100vh;
  border: solid 1px #efefef;
  border-top: none;
}
.section:nth-child(1) {
}

.section:nth-child(2) {
  .title-container {
    border-bottom: solid 1px #efefef;
    padding-left: 6px;
    .title {
      font-family: $primary-font;
      font-size: x-large;
    }
  }
  .tweet-box-container {
  }
}

.section:nth-child(3) {
}
