@import "../../scss//utils.scss";

.nav-container {
  @include flex-center;
  flex-direction: column;
  padding: 0px 10px;
}

.logo-icon {
  @include flex-center;
  @include circle(40px);
  padding: 6px;
  margin: 4px;
  transition: 0.3s;
  &:hover {
    background-color: $primary-color-light;
  }
  .title-icon {
    font-size: xx-large;
    color: $primary-color;
  }
}

.nav-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 90px;
  padding: 0px 26px;
  &:hover {
    background-color: $primary-color-light;
    color: $primary-color;
  }
  .icon {
    font-size: x-large;
  }
  .text {
    font-family: $primary-font;
    font-size: 24px;
    margin-left: 10px;
  }
}
